<button (click)="Video()" class="btn btn-success mx-3 my-3">Request for getting videos</button>
 
<div class="main" *ngIf="videosData">
  <h2 class="list-title">Video Information</h2>
 
  <div class="table-responsive">
    <table class="table table-sm table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>videoCardTemplate</th>
          <th>videoList</th>
          <th>loadingIndicator</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let video of videosData; index as i;">
          <tr>
            <td>{{i+1}}</td>
            <td>{{video.uiElements.videoCardTemplate}}</td>
            <td>{{video.uiElements.videoList}}</td>
            <td>{{video.uiElements.loadingIndicator}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>