<button (click)="Video()" class="btn btn-success mx-3 my-3">Request for getting videos</button>
 
<div class="main" *ngIf="videosData">
  <h2 class="list-title">Video Information</h2>
 
  <div class=”container-fluid”>
      <div class="row">
      <ng-container *ngFor="let video of videosData.files; index as i;">
          <div id={{i}} class="col-md-3 col-sm-6">
            <div class="caption">
              {{i+1}}
              {{video.filename}}
            </div> 
            <video width="100%" height="100%" controls>
                <source type="video/mp4" src={{video.srcurl}}> Your browser does not support the video tag...
            </video>
          </div>
        </ng-container>
        </div>

      </div>
    </div>