<label>Request Json for Order</label>
<textarea #textbox type="text" [(ngModel)]="requestJson" cols=50 rows=10></textarea>
<button (click)="createOrder()" class="btn btn-primary mx-3 my-3">Request for creating Order</button>
<div>
    <button (click)="getOrders()" class="btn btn-info mx-3 my-3">Reflesh</button>
</div>
<div class="main" *ngIf="ordersData">
  <h2 class="list-title">Order</h2>
 
  <div class="table-responsive">
      <table class="table table-sm table-bordered table-hover">
        <thead>
        <tr>
          <th>No</th>
          <th>TxId</th>
          <th>OrderNo</th>
          <th>UserId</th>
          <th>ItemId</th>
          <th>ItemName</th>
          <th>Price</th>
          <th>Amount</th>
          <th>IsCompensated</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let row of ordersData; index as i;">
            <tr [class]="row.IsCompensated ? 'table-danger': ''">
            <td>{{i+1}}</td>
            <td>{{row.TxId}}</td>
            <td>{{row.OrderNo}}</td>
            <td>{{row.UserId}}</td>
            <td>{{row.ItemId}}</td>
            <td>{{row.ItemName}}</td>
            <td>{{row.Price}}</td>
            <td>{{row.Amount}}</td>
            <td>{{row.IsCompensated}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <app-stock></app-stock>
  <app-payment></app-payment>
</div>