<button (click)="getOrders()" class="btn btn-success mx-3 my-3">Request for getting Order information</button>
 
<div class="main" *ngIf="ordersData">
  <h2 class="list-title">Order</h2>
 
  <div class="table-responsive">
    <table class="table table-sm table-bordered table-hover">
      <thead>
        <tr>
          <th>No</th>
          <th>TxId</th>
          <th>OrderNo</th>
          <th>UserId</th>
          <th>ItemId</th>
          <th>ItemName</th>
          <th>Price</th>
          <th>Amount</th>
          <th>IsCompensated</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let order of ordersData; index as i;">
          <tr>
            <td>{{i+1}}</td>
            <td>{{order.TxId}}</td>
            <td>{{order.OrderNo}}</td>
            <td>{{order.UserId}}</td>
            <td>{{order.ItemId}}</td>
            <td>{{order.ItemName}}</td>
            <td>{{order.Price}}</td>
            <td>{{order.Amount}}</td>
            <td>{{order.IsCompensated}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <app-stock></app-stock>
</div>