<div class="main" *ngIf="paymentsMasterData">
    <h2 class="list-title">Payment Master</h2>
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover ">
          <thead class="thead-dark">
            <tr>
              <th>No</th>
              <th>UserId</th>
              <th>Credit</th>
              <th>UpdateDate</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of paymentsMasterData; index as i;">
              <tr>
                <td>{{i+1}}</td>
                <td>{{row.UserId}}</td>
                <td>{{row.Credit}}</td>
                <td>{{row.UpdateDate}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
  
  <div class="main" *ngIf="paymentsData">
    <h2 class="list-title">Payment</h2>
    <div class="table-responsive">
      <table class="table table-sm table-bordered table-hover">
          <thead class="thead-light">
          <tr>
            <th>No</th>
            <th>TxId</th>
            <th>OrderNo</th>
            <th>UserId</th>
            <th>ItemName</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let row of paymentsData; index as i;">
            <tr [class]="row.IsCompensated ? 'table-danger': ''">
              <td>{{i+1}}</td>
              <td>{{row.TxId}}</td>
              <td>{{row.OrderNo}}</td>
              <td>{{row.UserId}}</td>
              <td>{{row.ItemName}}</td>
              <td>{{row.Price}}</td>
              <td>{{row.UpdateDate}}</td>
              <td>{{row.IsCompensated}}</td>
              <td>{{row.CompTxId}}</td>
              <td>{{row.OriginTxId}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  
    