<div class="card text-center w-50 mx-auto">
  <div class="card-header">
    Sing-up
  </div>
  <div class="card-body">
 
    <div class="signup" *ngIf="!successfullySignup">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup(signupForm.value)">
 
        <div class="form-group text-left">
          <label>Mail Address</label>
          <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
        </div>
        <div class="form-group text-left">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Enter password you want to set" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <div class="main" *ngIf="errorMessage">
            <font color="#E91E63">{{errorMessage}}</font>
         </div>
  
      </form>
      
    </div>
 
    <p class="mt-5" *ngIf="!successfullySignup">Here if you have verification code.</p>
    <button (click)="successfullySignup = true" *ngIf="!successfullySignup" class="btn btn-secondary">Auth by your verification code</button>
 
    <div class="confirmation" *ngIf="successfullySignup">
      <form [formGroup]="confirmationForm" (ngSubmit)="onSubmitConfirmation(confirmationForm.value)">
        <div class="form-group text-left">
          <label>Mail Address</label>
          <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
        </div>
 
 
        <div class="form-group text-left">
          <label>Verification Code</label>
          <input type="email" class="form-control" placeholder="Enter confirmationCode" formControlName="confirmationCode">
          <div class="main" *ngIf="successfullySignup">
              <font color="#009688">Verification code will be sent in your mail box.</font>
              <font color="#009688">Please input it and your Mail Address.</font>

           </div>
          </div>
        <button type="submit" class="my-3 btn btn-primary">Verify</button>
      </form>
      <button (click)="successfullySignup = false" class="btn btn-secondary">Back</button>
    </div>
 
  </div>
</div>